.car-card {
    border-radius: 8px;
    padding: 20px 20px;
    border: 1px solid black;
}
.one-row-search {
    border-radius: 8px;
    text-align: center;
    border: 1px solid black;
    padding: 10px 10px;
    margin-bottom: 30px;
}
.one-row-search input {
    width: 70%;
}
.search-form {
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid black;
    padding: 10px 10px;
}
.for-radio {
    vertical-align: top;
}
.form-btn {
    margin-top: 20px;
}